.product-edit,
.product-edit button{
    width: 100%;
}
.product-edit__form > input,
.product-edit__form button, 
.product-edit__form textarea {
    width: 100%;
}
/* .product-edit__submit {
     background-color: rgb(85, 51, 58);
    color: white;
    width: 100%;
    align-self: center;
    padding: 4px;
    border-radius: 5px;
} */