.product-form {
    display: flex;
    background-color: rgb(17, 17, 17);
    color: white;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 2px rgb(85, 106, 77);
    max-width: 550px;
    margin: 0px 25%;
}
.product-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.product-form__submit {
    width: 70%;
    align-self: center;
    padding: 1em;
    margin: 1em;
    margin-bottom: .5px;
    background-color: rgb(85, 106, 77);
    color: white;
    border-radius: 5px;
}
.product-form__submit:hover {
    background-color: white;
    color: rgb(85, 106, 77);
    font-weight: bold;
}
input {
    box-sizing: border-box;
    width: 70%;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    outline: none;
}
.product-form__description {
    box-sizing: border-box;
    max-width: 400px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    outline: rgb(85, 106, 77);

}
.product-form__img {
    margin: 2px 25% 2px 25%;
    align-self: right;
    background-color: white;
    color: rgb(85, 106, 77);
    font-weight: bold;
    width: auto;

}
textarea {
    width: 68%;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    padding: 4px;
    margin: 4px;
}