.signup {
    box-sizing:border-box;
    color: white;
    background-image: url('../images/dice2-gif.gif');
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0% 25% 25%;


}
.signup__header {
    font-size: 2.5em;
    width: auto;
    text-align: center;

}
.signup__form {
    display:flex;
    flex-direction: column;
    align-self: center;
    height: auto;
    width: 300px;
    padding: 55% 25% 10% 25%;

}
input {
    border-radius: 15%;
    /* background-color: rgb(224, 235, 217); */
    color: black;
    text-align: center;
}
input::placeholder {
    color:rgb(51, 21, 43);
}
.signup__submit {
    width: 30%;
    align-self: center;
    padding: 1em;
    margin: 1em;
    background-color: rgb(51, 21, 43);
    color: white;
}
.signup__submit:hover {
    background-color: white;
    color: rgb(51, 21, 43);
    font-weight: bold;
    width: 35%;
}
.signup__error {
    text-align: center;
    text-decoration: none;
    margin: 0% 15% 0% 15%;
}