.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    padding: 1.5em;
}
.nav__logo--title {
    color: rgb(51, 21, 43);
    font-size: 3.5em;
    padding: .2em;
    font-family: 'eczar';
}
.nav__logo--photo {
    width: 160px;
    
    /* border-radius: 50%; */
}
.nav__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100%; */
    /* list-style-type: none; */
    /* padding: 1em; */
}
.nav__logo:hover {
    /* background-color: rgb(224, 235, 217); */
}
.nav__form {
    display: flex;
    justify-content: right;
    height: 20%;
    padding: 1em;
}
.nav__form > :hover {
    background-color: rgb(51, 21, 43);
    color: white;
    padding: 4px;
    font-weight: 50;
}
.nav__logo--snip {
    font-size: .3em;
    /* padding: .1em; */
    margin-top: -.7em;
}
ul {
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}
.nav__signup {
    text-decoration: none;
    padding: 2px;
    color:rgb(51, 21, 43);
    /* font-weight: bold; */
    font-family: 'eczar';
}
